# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/pnix6jtu50c4/public_html/intranet.tunapconnect.com"
PassengerBaseURI "/"
#PassengerPython "/home/pnix6jtu50c4/virtualenv/public_html/intranet.tunapconnect.com/3.8/bin/python"
PassengerPython "/virtualenv/public_html/intranet.tunapconnect.com/3.8/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
<IfModeule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !l
</IfModeule>