{% load static %}
{% load sass_tags %}
<!-- page sidebar starts -->
<header class="main-nav">
  <div class="logo-wrapper"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/logo.png' %}"
        alt=""></a>
  </div>
  <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid"
        src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a></div>
  <div class="morden-logo"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/morden-logo.png' %}"
        alt=""></a></div>
  <nav>
    <div class="main-navbar">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="home"></i><span>Relatórios</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="/relatorios/comissao">Comissão</a></li>
              <li><a href="/relatorios/comissao_regiao">Comissão por região</a></li>
              <li><a href="/relatorios/mapa_vendas">Mapa de vendas</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="home"></i><span>Financeiro</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="#">Beneficiarios</a></li>
              <li><a href="/financeiro/solicitacao_pagamento">Solciitação de pagamentos</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i
                data-feather="users"></i><span>Suporte técnico </span></a></li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </div>
  </nav>
</header>
<!-- page Sidebar Ends-->